/* Stili Liber Liber 2016-08-22 */

.box_sponsor {
border : #dddddd dashed 1px;
padding : 1em;
text-align : center;
}
#corpo_copertina {
border-width : 0;
margin : 0;
padding : 0;
}
h1 {
text-align : center;
}
h2 {
text-align : center;
}
h3 {
text-align : center;
}
img {
border-width : 0;
}
.immagine_copertina {
border-width : 0;
margin : 0;
padding : 0;
}
.LLinfo {
font-family : "Courier New";
}
.testo_centrato {
text-align : center;
}
#testo_copertina {
display:none;
visibility:hidden;
}
.testo_corsivo {
font-style: italic;
}
.testo_destra {
text-align : right;
}
.testo_indice {
list-style-type:none;
margin-left:0;
padding-left:0;
}
.testo_indice a {
text-decoration:none;
}
.testo_indice ul {
list-style-type:none;
}
.testo_maiuscoletto {
font-variant : small-caps;
}

/* Stili Liber Liber 2016-08-22 - stili specifici INIZIO */

/* Stili Liber Liber 2016-08-22 - stili specifici FINE */
